
.clockpicker-popover .popover-title{
	background-color: rgb(242, 187, 24);
}

.clockpicker-popover .popover-content{
	background-color: rgb(242, 187, 24);
}

.clockpicker-plate{
	background-color: #fff;
}

